## SQL with Python - Leadics Inc.

In [1]:
import mysql.connector as sql

In [2]:
myDb = sql.connect(
    host='127.0.0.1',
    user='root',
    password='Srihari@2003'
)

In [3]:
myCursor = myDb.cursor()  # This is the cursor for executing the SQL Statements

In [ ]:
myCursor.execute('CREATE DATABASE LOCALPYTHON')

#### Show databases

In [4]:
myCursor.execute('SHOW DATABASES')

for x in myCursor:
    print(x)

('cascadingfk',)
('college',)
('fklinking',)
('information_schema',)
('joins',)
('localpython',)
('mysql',)
('performance_schema',)
('pq2',)
('sakila',)
('sys',)
('world',)
('xyz',)

#### Select a database, print data (IMPORTED OLD DATA)

In [4]:
myCursor.execute('USE LOCALPYTHON')

In [ ]:
myCursor.execute('SELECT * FROM STUDENT')

for x in myCursor:
    print(type(x))

#### Creating new Table

In [ ]:
myCursor.execute('CREATE TABLE customers '
                 '(id INTEGER PRIMARY KEY, name VARCHAR(255), bill INT)')

#### Adding Data

In [ ]:
sql = 'INSERT INTO customers (id, name, bill) VALUES (%s, %s, %s)'

val = [
    (1, 'Srihari', 200000),
    (2, 'Saipranav', 200000),
    (3, 'Sanjit', 220000),
    (4, 'Vijay', 205000)
]

# execute() -> for single data
myCursor.executemany(sql, val)

# IMP - .commit() to make actual changes in the DB
myDb.commit()

myCursor.execute('SELECT * FROM customers')
print(list(x for x in myCursor))

#### Entry logging

In [15]:
sql = "INSERT INTO customers (id, name, bill) VALUES (%s, %s, %s)"
val = (5, 'Keerthana', 190000)
myCursor.execute(sql, val)

myDb.commit()

print(f"1 Entry completed at index: {myCursor.lastrowid}")

1 Entry completed at index: 0

#### SELECT Statements

In [52]:
myCursor.execute("SELECT * FROM customers")
print(list(x for x in myCursor.fetchall()))

[(1, 'Srihari', 200000), (2, 'Saipranav', 200000), (3, 'Sanjit', 220000), (4, 'Vijay', 205000), (5, 'Keerthana', 190000)]

In [53]:
myCursor.execute("SELECT id, name FROM customers")
print(list(x for x in myCursor.fetchall()))

[(1, 'Srihari'), (2, 'Saipranav'), (3, 'Sanjit'), (4, 'Vijay'), (5, 'Keerthana')]

In [54]:
myCursor.execute("SELECT id, name FROM customers")
print(list(x for x in myCursor.fetchone()))
myCursor.fetchall()

[1, 'Srihari']

[(2, 'Saipranav'), (3, 'Sanjit'), (4, 'Vijay'), (5, 'Keerthana')]

In [55]:
myCursor.execute("SELECT id, name FROM customers")
print(list(x for x in myCursor.fetchmany(3)))

[(1, 'Srihari'), (2, 'Saipranav'), (3, 'Sanjit')]

In [60]:
myCursor.fetchall() # Always include this at the starting, only for Jupyter, so that the fetch is cleared
sql = 'SELECT id, name FROM customers where id % 2 = 0'
myCursor.execute(sql)
print(list(x for x in myCursor.fetchall()))

[(2, 'Saipranav'), (4, 'Vijay')]

In [67]:
myCursor.fetchall()
sql = "SELECT * FROM customers WHERE name LIKE '%s%'"
myCursor.execute(sql)
print(list(x for x in myCursor.fetchall()))

[(1, 'Srihari', 200000), (2, 'Saipranav', 200000), (3, 'Sanjit', 220000)]

##### Always use "Parameterised SQL value insertion" for avoiding malware attacks and SQL injection attacks

### ORDER BY statements

In [6]:
sql = "SELECT * from customers order by name"
myCursor.execute(sql)
print(list(x for x in myCursor.fetchall()))

[(5, 'Keerthana', 190000), (2, 'Saipranav', 200000), (3, 'Sanjit', 220000), (1, 'Srihari', 200000), (4, 'Vijay', 205000)]

In [10]:
sql = "SELECT * from customers order by bill desc"
myCursor.execute(sql)
print(list(x for x in myCursor.fetchall()))

[(3, 'Sanjit', 220000), (4, 'Vijay', 205000), (1, 'Srihari', 200000), (2, 'Saipranav', 200000), (5, 'Keerthana', 190000)]

### Deleting Records

In [14]:
sql = "DELETE FROM customers where id = 5"
myCursor.execute(sql)

myDb.commit()

print(myCursor.rowcount, "record(s) deleted")

1 record(s) deleted

##### Deleting records with queries

In [16]:
sql = "DELETE FROM customers where id = %s"
data = (5,)
myCursor.execute(sql, data)

myDb.commit()

print(myCursor.rowcount, "record(s) deleted")

1 record(s) deleted

### Deleting Tables

In [17]:
myCursor.execute('CREATE DATABASE TEMPORARY')

In [18]:
sql = "DROP TABLE IF EXISTS TEMPORARY"
myCursor.execute(sql)