## SQL with Python - Leadics Inc.

In [ ]:
import mysql.connector as sql

In [ ]:
myDb = sql.connect(
    host='127.0.0.1',
    user='root',
    password='Srihari@2003'
)

In [ ]:
myCursor = myDb.cursor()  # This is the cursor for executing the SQL Statements

In [ ]:
myCursor.execute('CREATE DATABASE LOCALPYTHON')

#### Show databases

In [ ]:
myCursor.execute('SHOW DATABASES')

for x in myCursor:
    print(x)

#### Select a database, print data (IMPORTED OLD DATA)

In [ ]:
myCursor.execute('USE LOCALPYTHON')
myCursor.execute('SELECT * FROM STUDENT')

for x in myCursor:
    print(type(x))

#### Creating new Table

In [ ]:
myCursor.execute('USE LOCALPYTHON')
myCursor.execute('CREATE TABLE customers '
                 '(id INTEGER PRIMARY KEY, name VARCHAR(255), bill INT)')

#### Adding Data

In [ ]:
myCursor.execute('USE LOCALPYTHON')

sql = 'INSERT INTO customers (id, name, bill) VALUES (%s, %s, %s)'

val = [
    (1, 'Srihari', 200000),
    (2, 'Saipranav', 200000),
    (3, 'Sanjit', 220000),
    (4, 'Vijay', 205000)
]

# execute() -> for single data
myCursor.executemany(sql, val)

# IMP - .commit() to make actual changes in the DB
myDb.commit()

myCursor.execute('SELECT * FROM customers')
print(list(x for x in myCursor))